html, body, .container-fluid, .row {
    height: 100%;
    margin: 0;
    padding: 0;
}
.col-9, .col-2 {
    margin: 0;
}


header {
    background-color: rgb(66, 105, 212);
    text-align: center;
    width: 100%;
    height: 100px;
}
#header-title {
    color: white;
}
#searchBox {
    float: left;
    text-align: left;
    padding: 10px;
    width: 300px;
    background-color: rgb(214, 214, 214);
    left: 0px; 
    height: 100%;
}
#searchBar {
    border-bottom: 2px dashed gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#cityNameSearch {
    margin: 0px;
    height: 50px;
    border-radius: 45px 0px 0px 45px;
    border: none;
    float: left;
}
#cityNameSearch:focus {
    outline: none;
}
#cityNameSubmit {
    color: white;
    margin: 0px;
    height: 50px;
    border-radius: 0px 45px 45px 0px;
    background-color: rgb(66, 105, 212);
    border: none;
    transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}
#cityNameSubmit:hover {
    background-color: rgb(30, 82, 223);
}
#cityNameSubmit:focus {
    outline: none;
}
#cityNameSubmit:active {
    background-color: rgb(0, 68, 255);
}
.savedBtnStyle {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
    -moz-box-shadow: 0 0 2px #6d6d6d;
    -webkit-box-shadow: 0 0 2px #6d6d6d;
    box-shadow: 0 0 2px #6d6d6d;
    transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
}
.savedBtnStyle:hover {
    -moz-box-shadow: 0 0 5px #6d6d6d;
    -webkit-box-shadow: 0 0 5px #6d6d6d;
    box-shadow: 0 0 5px #6d6d6d;
    border: 1px solid rgb(66, 105, 212);
}
.savedBtnStyle:focus {
    outline: none;
}
.savedBtnStyle:active {
    border: 2px solid rgb(66, 105, 212);
}
#weatherRow {
    text-align: center;
}
#currentWeatherBox {
    background-color: whitesmoke;
    margin-top: 20px;
    height: 420px;
    padding: 35px;
    width: 100%;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #6d6d6d;
    -webkit-box-shadow: 0 0 5px #6d6d6d;
    box-shadow: 0 0 5px #6d6d6d;
}
#fiveDayBox {
    margin-top: 65px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
#fiveDayForcastTitle {
    padding-bottom: 10px;
    border-bottom: 3px solid black;
}

.fiveDayBoxStyle {
    height: 200px;
    width: 140px;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
    float: left;
    margin: 10px;
    padding: 10px;
    -moz-box-shadow: 0 0 5px #6d6d6d;
    -webkit-box-shadow: 0 0 5px #6d6d6d;
    box-shadow: 0 0 5px #6d6d6d;
}
#humidity,
#windspeed {
    color: rgb(170, 170, 170);
}
#UVindex {
    color: rgb(170, 170, 170); 
}
#iconHolder {
    float: right;
    background-color: rgb(184, 184, 184);
    border-radius: 40px;
    margin-left: 15px;
}
#date {
    margin-bottom: 125px;
}
#city {
}
.cityBtns {
    width: 100%;
}