html, body, .container-fluid, .row {
    height: 100%;
    margin: 0;
    padding: 0;
}
.col-9, .col-2 {
    margin: 0;
}


header {
    background-color: rgb(66, 66, 252);
    text-align: center;
    width: 100%;
    height: 100px;
}
#header-title {
    color: white;
}
#searchBox {
    float: left;
    text-align: left;
    padding: 10px;
    width: 300px;
    background-color: whitesmoke;
    left: 0px; 
    height: 100%;
}
#searchBar {
    border-bottom: 2px dashed gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#cityNameSearch {
    margin: 0px;
    height: 50px;
    float: left;
}
#cityNameSubmit {
    margin: 0px;
    height: 50px;
}
.savedBtnStyle {
    width: 100%;
    height: 50px;
}
#weatherRow {
    text-align: center;
}
#currentWeatherBox {
    background-color: whitesmoke;
    margin-top: 20px;
    height: 420px;
    padding: 35px;
    width: 100%;
    border-radius: 10px;
    -moz-box-shadow: 0 0 5px #6d6d6d;
    -webkit-box-shadow: 0 0 5px #6d6d6d;
    box-shadow: 0 0 5px #6d6d6d;
}
#fiveDayBox {
    margin-top: 45px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
.fiveDayBoxStyle {
    height: 170px;
    width: 115px;
    background-color: lightskyblue;
    float: left;
    margin: 10px;
}
#humidity,
#windspeed {
    color: rgb(170, 170, 170);
}
#UVindex {
    color: rgb(170, 170, 170); 
}
#iconHolder {
    float: right;
    background-color: rgb(184, 184, 184);
    border-radius: 40px;
    margin-left: 15px;
}
#date {
    margin-bottom: 125px;
}
#city {
}
.cityBtns {
    width: 100%;
}